<!-- Modal Header -->
<div class="modal-header">
  <h4 class="modal-title" style="color: white;">{{foodname}}</h4>
  <button type="button" class="btn" style="color: white;" (click)="activeModal.close(true)"><i
      class="fa-solid fa-xmark"></i></button>
</div>

<!-- Modal body -->
<div class="modal-body">
  <form>
    <fieldset class="form-group">
      <div class="row">
        <legend class="col-form-label col-sm-2 pt-0">ราคาอาหาร</legend>
        <div class="col-sm-10">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value='ธรรมดา'
              (click)="checkprice($event)">
            <div class="row" style="padding-bottom: 10px;">
              <label class="form-check-label col-6 " for="gridRadios1">
                ธรรมดา
              </label>
              <label class="form-check-label col-5 " for="gridRadios1">
                {{foodnormal}}
              </label>
            </div>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value='พิเศษ'
              (click)="checkprice($event)">
            <div class="row" style="padding-bottom: 10px;">
              <label class="form-check-label col-6" for="gridRadios2">
                พิเศษ
              </label>
              <label class="form-check-label col-5 " for="gridRadios2">
                {{foodspecial}}
              </label>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="row">
        <legend class="col-form-label col-sm-2 pt-0">เพิ่มเติม</legend>
        <div class="col-sm-10">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gridRadios2" id="gridRadios3" value='ไข่ดาว'
              (click)="checkoption($event)">
            <div class="row" style="padding-bottom: 10px;">
              <label class="form-check-label col-6 " for="gridRadios3">
                ไข่ดาว
              </label>
              <label class="form-check-label col-5 " for="gridRadios3">
                10
              </label>
            </div>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gridRadios2" id="gridRadios4" value='ไข่เจียว'
              (click)="checkoption($event)">
            <div class="row" style="padding-bottom: 10px;">
              <label class="form-check-label col-6" for="gridRadios4">
                ไข่เจียว
              </label>
              <label class="form-check-label col-5 " for="gridRadios4">
                10
              </label>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
    <div class="form-floating" style="padding-top:10px;">
      <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
        style="height: 100px"></textarea>
      <label for="floatingTextarea2">กรุณาระบุความต้องการอื่นๆ เช่น เผ็ดน้อย !!
        (ถ้ามี)</label>
    </div>
  </form>
</div>

<!-- Modal footer -->
<div class="modal-footer">
  <div class="row">
    <div class="col-6-sum">

      <label for="gridCheck1">ราคา </label>
      <label for="" style="color: rgb(0, 212, 0);font-weight: bold;">&nbsp;{{this.result}}</label>
    </div>
    <button type="submit" class="btn btn-primary col-5x20px" data-bs-dismiss="modal"(click)="submit()"> ยืนยัน</button>
  </div>
</div>
