<app-navbar></app-navbar>
<div style="padding-top: 5%;"></div>
<div class="c-1200 c-400 nav-flex">
    <div class="card">
        <div class="card-body">
            <div class="container mb-5 mt-3">
                <div class="container">
                    <div class="col-md-12">
                        <div class="text-center">
                            <img src="/assets/img/logo.png" class="logo-css">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-8">
                            <ul class="list-unstyled">
                                <li class="text-muted">ผู้สั่ง: <span class="dtext-b">{{fname}} {{lname}}</span></li>
                                <li class="text-muted">วันที่: <span class="dtext-b">{{datenow | date:'dd/MM/yyyy'}}</span></li>
                            </ul>
                        </div>
                        <div class="col-xl-4">
                            <ul class="list-unstyled">
                                <li class="text-muted"><i class="fas fa-circle"></i>เมนู:
                                    <span class="dtext-b">{{foodname}}</span>
                                </li>
                                <li class="text-muted"><i class="fas fa-circle"></i>ขนาด:
                                    <span class="dtext-b">{{foodoption}}</span>
                                    <span class="p-s-1">{{foodprice}}<span class="p-s-2">บาท</span></span>
                                </li>
                                <li class="text-muted"><i class="fas fa-circle"></i>เพิ่มเติม:
                                    <span class="dtext-b">{{option}}</span>
                                    <span class="p-s-1">{{optionprice}}<span class="p-s-2">บาท</span></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-xl-8">
                            <p class="ms-3"> ความต้องการเพิ่มเติม </p>
                            <p class="ms-3">{{fooddetail}}</p>
                        </div>
                        <div class="col-xl-3">
                            <p class="text-black float-start"><span class="text-black me-3"> ราคารวม </span>
                                <span style="font-size: 25px;font-weight: bold;">{{result}}<span class="p-s-2">บาท</span></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div style="float: right;">
                    <button type="button" class="btn btn-primary col-5x20px">ยืนยันการสั่งอาหาร</button>
                </div>
            </div>
        </div>
    </div>
</div>
