<app-navbar></app-navbar>
<div class="nav-flex"></div>
<div class="container">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100 c-2 c-3 c-4">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5" style="font-weight:bold;">แก้ไขข้อมูลผู้ใช้</h2>

                            <form (ngSubmit)="onSubmit()">
                                <div class="row">
                                    <div class="input-group mb-3 ">
                                        <span class="input-group-text" id="basic-addon1"><i
                                                class="fa-solid fa-user"></i></span>
                                        <input type="text" class="form-control" placeholder="บัญชีผู้ใช้"
                                            aria-label="Username" required aria-describedby="basic-addon1">
                                    </div>
                                    <div class="input-group mb-3 reg">
                                        <span class="input-group-text" id="basic-addon1"><i
                                                class="fa-solid fa-lock"></i></span>
                                        <input type="password" class="form-control" placeholder="รหัสผ่าน"
                                            aria-label="Password" required aria-describedby="basic-addon1">
                                    </div>
                                    <div class="input-group mb-3 reg">
                                        <span class="input-group-text" id="basic-addon1"><i
                                                class="fa-solid fa-unlock"></i></span>
                                        <input type="password" class="form-control" placeholder="ยืนยันรหัสผ่าน"
                                            aria-label="Password" required aria-describedby="basic-addon1">
                                    </div>
                                </div>

                                <p style="padding-top: 1.5rem; font-weight:bold;">ข้อมูล ผู้ใช้</p>

                                <div class="row">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="basic-addon1"><i
                                                class="fa-solid fa-users"></i></span>
                                        <input type="text" class="form-control" placeholder="ชื่อผู้ใช้" aria-label=""
                                            required aria-describedby="basic-addon1">
                                    </div>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="basic-addon1"><i
                                                class="fa-sharp fa-solid fa-diamond"></i></span>
                                        <input type="text" class="form-control" placeholder="นามสกุล" aria-label=""
                                            required aria-describedby="basic-addon1">
                                    </div>
                                </div>

                                <div class="input-group mb-3 ">
                                    <span class="input-group-text" id="basic-addon1"><i
                                            class="fa-solid fa-envelope"></i></span>
                                    <input type="text" class="form-control" placeholder="อีเมล์" aria-label="" required
                                        aria-describedby="basic-addon1">
                                </div>
                                <div class="input-group mb-3 ">
                                    <span class="input-group-text" id="basic-addon1"><i
                                            class="fa-solid fa-phone-volume"></i></span>
                                    <input type="text" class="form-control" placeholder="เบอร์โทรศัพท์"
                                        aria-label="Username" required aria-describedby="basic-addon1">
                                </div>

                                <div class="d-flex justify-content-center mb-3 mb-lg-4">
                                    <button type="button" class="btn btn-primary btn-lg"
                                        style="font-weight:bold; font-size: large;">ยืนยันการแก้ไขข้อมูล</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>