<app-navbar></app-navbar>
<div class="nav-flex"></div>
<div class="container" style="padding-top:5%;">
  <h1 style="font-weight: bold;">รายการสั่งอาหารประจำวันนี้</h1>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div style="padding-top: 2%;"></div>
        <div class="mb-3 row-edit">
          <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label"
            style="padding-right: 2%;">ค้นหา:</label>
          <div class="col-xs-3 col-sm-auto">
            <input id="table-filtering-search" class="form-control" type="text" [formControl]="filter" />
          </div>
        </div>
      </div>
    </div>
    <div class="container-table">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ลำดับ</th>
            <th scope="col">ชื่อผู้สั่ง</th>
            <th scope="col">ชื่ออาหาร</th>
            <th scope="col">ราคา </th>
          </tr>
        </thead>
        <tbody *ngFor="let bill of billdata ; index as i">
          <tr *ngIf="(bill.CREATE_DATE | date: 'yyyy-MM-dd') !== (datenow | date: 'yyyy-MM-dd')">

            <th scope="row">{{ i + 1 }}</th>
            <td><input type="text" >
                {{bill.USER_ID }}
            </td>
            <td>{{bill.FOOD_ID}} </td>
            <td>{{bill.BILL_RESULT}}</td>
          </tr>

        </tbody>
      </table>

    </div>
  </div>
</div>
