<app-navbar></app-navbar>
<div class="nav-flex"></div>
<div class="container" style="padding-top:5%;">
  <h4 style="font-weight: bold;">รายการสั่งอาหารประจำวันนี้</h4>
  <div class="card">
    <div class="container-table">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ลำดับ</th>
            <th scope="col">ชื่อผู้สั่ง</th>
            <th scope="col">ชื่ออาหาร</th>
            <th scope="col">ราคา </th>
          </tr>
        </thead>
        <tbody *ngFor="let bill of billdata ; index as i">
          <tr *ngIf="(bill.CREATE_DATE | date: 'yyyy-MM-dd') !== (datenow | date: 'yyyy-MM-dd')">

            <th scope="row">{{ i + 1 }}</th>
            <td>
                {{bill.USER_ID }}
            </td>
            <td>{{bill.FOOD_ID}} </td>
            <td>{{bill.BILL_RESULT}}</td>
          </tr>

        </tbody>
      </table>

    </div>
  </div>
</div>
