@media screen and (max-width:400px) {
    .nav-flex{
        padding-top: 40%;
    }
}
.container-table {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}

.row-edit {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: nowrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
}

.card {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: var(--bs-card-border-width) solid rgb(0 0 0 / 0%);
    border-radius: var(--bs-card-border-radius);
}
datagrid-borders > .dx-datagrid-headers {
    border-top: 1px solid rgb(0, 0, 0);
}
.table-striped>tbody>tr:nth-of-type(odd)>* {
    --bs-table-accent-bg: rgb(255 255 255);
    color: #838383;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #808a95;
}
tbody, td, tfoot, th, thead, tr {
    border-color: #808a95;
    border-style: solid;
    border-width: 0px;
}
