<app-navbar></app-navbar>
<div class="nav-flex"></div>
<div class="container" style="padding-top:5%;">
  <h1 style="font-weight: bold;">รายการสั่งอาหารประจำวันนี้</h1>
  <div class="card">

    <dx-data-grid #dataGrid id="gridContainer" style="margin: auto;" [dataSource]="billdata" keyExpr="BILL_ID"
    [showBorders]="true" noDataText="ไม่มีข้อมูล" >
    <dxo-search-panel [visible]="true" [width]="240" placeholder="ค้นหา..." location="before"></dxo-search-panel>

    <dxi-column caption="ลำดับ" [width]="50" [allowFiltering]="false" [allowSorting]="false" dataField=""
    cellTemplate="cellTemplate" alignment="center">
    </dxi-column>
    <dxi-column alignment="center" caption="ชื่อผู้ใช้" dataField="USER_ID" [width]="230">
    </dxi-column>
    <dxi-column alignment="center" caption="ชื่อจริง" dataField="FOOD_ID" [width]="170">
    </dxi-column>
    <dxi-column alignment="center" caption="ชื่ออาหาร" dataField="RES_ID" [width]="170">
    </dxi-column>
    <dxi-column alignment="center" caption="ราคารวม" dataField="BILL_RESULT" [width]="215">
    </dxi-column>
    <div *dxTemplate="let cell of 'cellTemplate'">
      {{ cell.component.pageIndex() * cell.component.pageSize() + cell.rowIndex + 1 }}

    </div>
  </dx-data-grid>
  </div>
</div>

