<div class="modal-header">
  <h4 class="modal-title">ออกจากระบบ</h4>
  <button type="button" class="btn btn-danger" aria-label="Close" (click)="activeModal.close(false)">
    <i class="fa-solid fa-x"></i>
  </button>
</div>
<div class="modal-body">
  <p>คุณต้องการออกจากระบบหรือไม่</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.close(false)">ยกเลิก</button>
  <button type="button" class="btn btn-primary" (click)="activeModal.close(true)">ตกลง</button>
</div>
