<div class="container top-bar" align="center">


  <div class="card " style="max-width: 70%; max-height: 600px;">
    <div class="row g-0 shardows-box">
      <div class=" col-img-main">
        <div class="grid card-bg-left">
        </div>
        <p class="text-bts">© 2022 BETIMES SOLUTIONS. ALL RIGHTS RESERVED.
        </p>
      </div>
      <div class=" col-md-8 ">
        <div class="card-body">
          <h1 class="card-title" style=" font-weight:bold;">เข้าสู่ระบบ</h1>
          <div class="group-text-box">

            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="ชื่อผู้ใช้" aria-label="Username"
                aria-describedby="basic-addon1" id="username" [(ngModel)]="username" ngModel="required">
            </div>
            <div class="input-group mb-3">
              <input type="password" class="form-control" placeholder="รหัสผ่าน" aria-label="Password"
                aria-describedby="basic-addon1" id="password" [(ngModel)]="password" ngModel="required">
            </div>

          </div>
          <div>
            <button type="submit" class="btn btn-success" (click)="onSubmit()"
              [disabled]="!username.length">เข้าสู่ระบบ</button>
            <div class="" style="padding-top: 15px;">
              <p style="float: left; padding-left: 16%; color:#2c5b99; font-weight:bold;">ลงทะเบียน</p>
              <p style="float: right; padding-right: 16%; color:#ff914d; font-weight:bold;">ลืมรหัสผ่าน ?</p>
            </div>
          </div>
          <div class=" foot-title">
            <p class="card-Description text-detail" style="color: #2c5b99; font-weight:bold;">ระบบสั่งอาหารกลางวัน
              Betimes Solution</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>