.col-xl-7 {
    flex: 0 0 auto;
    width: 49%;
}
.card {
    border: 0;
    box-shadow: 20px 12px 15px 5px rgb(0 0 0 / 20%), 0 10px 20px 5px rgb(0 0 0 / 4%);
    background: #ffffff;
}
.border-text {
    background: #2c5b99;
    border-radius: 32px;
    width: 60px;
    height: 4px;
    margin: auto;
}
.text-center {
    text-align: center !important;
}
.mb-5 {
    margin-bottom: 1rem !important;
}
.mx-md-4 {
    margin-right: 1.5rem !important;
    margin-left: 1.5rem !important;
    // margin-top: 3.5rem !important;
    margin-bottom: 1.5rem !important;
    padding-top: 10px;
}
.btn-primary {
    background-color: #2c5b99;
    color: #fff;
    box-shadow: 0 4px 9px -4px #3b71ca;
    width: 100%;
    font-size: 20px;
}
.input-group > .form-control {
    min-height: calc(2.08rem + 10px);
    height: calc(2.08rem + 10px);
    padding-top: 0.27rem;
    padding-bottom: 0.27rem;
    transition: all 0.2s linear;
}
.input-group .input-group-text {
    height: calc(2.08rem + 10px);
}
.re-set {
    width: 50%;
}
.help {
    width: 50%;
    text-align: end;
}
.justify-content-center {
    justify-content: center !important;
    /* height: 100%; */
    padding-bottom: 0px;
    padding-top: 20px;
}