@media screen and (max-width:400px) {
    .nav-flex {
        padding-top: 40%;
    }
}

@media (min-width: 768px) {
    .col-md-6 {
        flex: 0 0 auto;
        width: 45%;
    }
}

.img-fluid {
    max-width: 90%;
    height: auto;
    padding-left: calc(var(--bs-gutter-x) * 2);
}

.payment-form {
    width: auto;
    padding: 20px;
    margin: auto;
    text-align: left;
}

.payment-form input[type="text"],
.payment-form input[type="email"],
.payment-form input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

.payment-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border: none;
}

.container {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.col-lg-6 {
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}

.pay-img {
    margin: 10px;
}

.form-select {
    display: block;
    width: 100%;
    padding: 0.75rem 2.25rem 0.675rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    border-radius: 0;

}

.form-control[type=file] {
    overflow: hidden;
    height: 100%;
}