@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';
// @import 'mdb-angular-ui-kit/assets/scss/mdb.scss';

@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@200&display=swap');




*{
  font-family: 'Sarabun', sans-serif;
}
::ng-deep #dx-toolbar-after {
  left: 0;
}

html, body { height: 100%; }
body { margin: 0; }
// @import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
// @import '~@fortawesome/fontawesome-free/scss/solid.scss';
// @import '~@fortawesome/fontawesome-free/scss/regular.scss';
// @import '~@fortawesome/fontawesome-free/scss/brands.scss';

// @import '~mdb-angular-ui-kit/assets/scss/mdb.scss';
